body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Assuming a space-themed background */
}

.space-window {
    position: relative;
    width: 95vw; /* Adjust based on your preference */
    height: 95vh; /* Adjust based on your preference */
    border-radius: 20px; /* For rounded corners */
    overflow: hidden;
}

.frame, .outer-frame, .inner-frame, .content-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit; /* Inherits border-radius from .space-window */
    overflow: hidden;
}

/* Background styles for different layers */
.outer-frame, .inner-frame, .content-frame {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.frame {
    border: 3px solid #2e3d55; /* Border color for frames */
}

.frame::-webkit-scrollbar {
    display: none;
}

.outer-frame {
    border-width: 10px;
    border-radius: 15px;
}

.inner-frame {
    border-width: 6px;
    border-radius: 10px;
}

.content-frame {
    border-width: 2px;
    border-radius: 5px;
    overflow: hidden; /* Hides the scrollbar but still allows scrolling */
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto; /* Allows horizontal scrolling */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
}

/* Hides scrollbar for Webkit browsers like Chrome, Safari */
.content::-webkit-scrollbar {
    display: none;
}

#space-view {
    position: relative;
    overflow:scroll;
    white-space: nowrap;
    height: 100%;
    perspective: 1px;
    display: flex;
    align-items: center;
    overflow: auto; /* Allow content to scroll */
    scrollbar-width: none; /* For Firefox */
}

#space-view::-webkit-scrollbar {
    display: none; /* Hide scrollbars */
}



.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: left center;
    transform: scale(calc(1 + var(--depth)));
    z-index: 1;
}

.parallax-layer::before {
    content: "";
    position: absolute;
    width: 6000%; /* Large width to span across the scrolling area */
    height: 100%;
    background: transparent;
    background-image: radial-gradient(white 1px, transparent 1px), radial-gradient(white 1px, transparent 1px);
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    z-index: 1;
}

.celestial-body {
    border-radius: 50%;
    transition: transform 1s, opacity 1s; 
    z-index: 2;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.3);
}



/* General styles for all planets */
.celestial-body.planet {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Specific styles for each planet */
.celestial-body.merkurius { background-image: radial-gradient(circle, #fbf7f7 0%, #b3b3b3 100%); 
    animation: rotatePlanet 10s linear infinite;}
.celestial-body.venus { background-image: radial-gradient(circle, #fff0b3 0%, #f4be52 100%); }
.celestial-body.jorden { background-image: radial-gradient(circle, #6db3f2 0%, #021e3b 100%); }
.celestial-body.mars { background-image: radial-gradient(circle, #ff9999 0%, #f30404 100%); }
.celestial-body.jupiter { background-image: radial-gradient(circle, #e2c290 0%, #f09709 100%); }
.celestial-body.saturnus { background-image: radial-gradient(circle, #fdf4c4 0%, #f4e7a3 100%); }
.celestial-body.uranus { background-image: radial-gradient(circle, #b0e0e6 0%, #93e0e3 100%); }
.celestial-body.neptunus { background-image: radial-gradient(circle, #5d8aa8 0%, #2d62a3 100%); }
.celestial-body.star {
    background-color: #ffff00; /* Example color for stars */
    box-shadow: 0 0 30px #ffff00; /* Glowing effect */
}

#info-square {
    width: 300px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: opacity 1s;
    z-index: 3;
    padding: 2vw;
}

/* Search Container and Elements */
#search-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
}

#planet-search, #search-button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 4px;
}

#planet-search {
    border: 2px solid #ddd;
    background-color: #f8f8f8;
}

#search-button {
    background-color: #4A90E2;
    color: white;
    border: none;
    cursor: pointer;
}

#search-button:hover {
    background-color: #357ABD;
}

#search-error {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #ff6b6b;
    display: none; /* Hidden by default */
    z-index: 3;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
    z-index: 3; /* High z-index to ensure visibility */
}

button:hover {
    background-color: #000;
    color: #fff;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3; /* Ensure arrow buttons are above other elements */
}

#prev { left: 20px; }
#next { right: 20px; }

#distance-to-sun {
    position: absolute;
    top: 10%; /* Adjust based on your layout */
    right: 5%; /* Adjust based on your layout */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    color: #fff; /* White text color */
    padding: 10px;
    border-radius: 5px;
    z-index: 4; /* Ensure it's above other content */
}
